# Data Preparation & Work

In [22]:
# Importing libraries 

import pandas as pd

In [23]:
# Load the datasets
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"

In [24]:
# Load AKAs dataset
akas = pd.read_csv(akas_url, sep='\t', low_memory=False, na_values='\\N')

In [25]:
# Filter AKAs dataset to include only US movies
us_movies_akas = akas[(akas['region'] == 'US') & (akas['types'] != 'alternative')]

In [26]:
# Sanity check
print(us_movies_akas.head())
print(us_movies_akas.info())

      titleId  ordering                   title region language        types  \
5   tt0000001         6              Carmencita     US      NaN  imdbDisplay
14  tt0000002         7  The Clown and His Dogs     US      NaN          NaN
33  tt0000005        10        Blacksmith Scene     US      NaN  imdbDisplay
42  tt0000005         7           Blacksmithing     US      NaN          NaN
47  tt0000006         3       Chinese Opium Den     US      NaN  imdbDisplay

                    attributes  isOriginalTitle
5                          NaN              0.0
14       literal English title              0.0
33                         NaN              0.0
42  informal alternative title              0.0
47                         NaN              0.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1431292 entries, 5 to 36593528
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1431292 non-null  object
 1   ordering         1431292 non-null  int64
 2   title            1431292 non-null  object
 3   region           1431292 non-null  object
 4   language         3869 non-null     object
 5   types            960406 non-null   object
 6   attributes       46994 non-null    object
 7   isOriginalTitle  1429950 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 98.3+ MB
None

In [27]:
# Load Basics dataset
basics = pd.read_csv(basics_url, sep='\t', low_memory=False, na_values='\\N')

In [28]:
# Filter Basics dataset to include only full-length movies released between 2000 and 2021 in the US and exclude documentaries
basics = basics[(basics['titleType'] == 'movie') &
                (basics['startYear'].between(2000, 2021)) &
                (~basics['genres'].str.contains('documentary', case=False, na=False))]

# Drop rows with missing values in 'runtimeMinutes' and 'genres'
basics.dropna(subset=['runtimeMinutes', 'genres'], inplace=True)

In [29]:
# Sanity check
print(basics.head())
print(basics.info())

          tconst titleType                                       primaryTitle  \
34802  tt0035423     movie                                     Kate & Leopold
61114  tt0062336     movie  The Tango of the Widower and Its Distorting Mi...
67666  tt0069049     movie                         The Other Side of the Wind
86793  tt0088751     movie                                  The Naked Monster
93930  tt0096056     movie                               Crime and Punishment

                                   originalTitle  isAdult  startYear  endYear  \
34802                             Kate & Leopold      0.0     2001.0      NaN
61114  El tango del viudo y su espejo deformante      0.0     2020.0      NaN
67666                 The Other Side of the Wind      0.0     2018.0      NaN
86793                          The Naked Monster      0.0     2005.0      NaN
93930                       Crime and Punishment      0.0     2002.0      NaN

      runtimeMinutes                  genres
34802            118  Comedy,Fantasy,Romance
61114             70                   Drama
67666            122                   Drama
86793            100    Comedy,Horror,Sci-Fi
93930            126                   Drama
<class 'pandas.core.frame.DataFrame'>
Int64Index: 138872 entries, 34802 to 10019148
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          138872 non-null  object
 1   titleType       138872 non-null  object
 2   primaryTitle    138872 non-null  object
 3   originalTitle   138872 non-null  object
 4   isAdult         138872 non-null  float64
 5   startYear       138872 non-null  float64
 6   endYear         0 non-null       float64
 7   runtimeMinutes  138872 non-null  object
 8   genres          138872 non-null  object
dtypes: float64(3), object(6)
memory usage: 10.6+ MB
None

In [30]:
# Merge with AKAs dataset to include only US movies
# Drop duplicates in 'titleId' before merging and drop 'titleId' after merging
us_movies_akas_unique = us_movies_akas[['titleId']].drop_duplicates()
basics = basics.merge(us_movies_akas_unique, left_on='tconst', right_on='titleId', how='inner')
basics.drop('titleId', axis=1, inplace=True)

In [31]:
# Sanity check
print(basics.head())
print(basics.info())

      tconst titleType                                       primaryTitle  \
0  tt0035423     movie                                     Kate & Leopold
1  tt0062336     movie  The Tango of the Widower and Its Distorting Mi...
2  tt0069049     movie                         The Other Side of the Wind
3  tt0088751     movie                                  The Naked Monster
4  tt0096056     movie                               Crime and Punishment

                               originalTitle  isAdult  startYear  endYear  \
0                             Kate & Leopold      0.0     2001.0      NaN
1  El tango del viudo y su espejo deformante      0.0     2020.0      NaN
2                 The Other Side of the Wind      0.0     2018.0      NaN
3                          The Naked Monster      0.0     2005.0      NaN
4                       Crime and Punishment      0.0     2002.0      NaN

  runtimeMinutes                  genres
0            118  Comedy,Fantasy,Romance
1             70                   Drama
2            122                   Drama
3            100    Comedy,Horror,Sci-Fi
4            126                   Drama
<class 'pandas.core.frame.DataFrame'>
Int64Index: 81530 entries, 0 to 81529
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81530 non-null  object
 1   titleType       81530 non-null  object
 2   primaryTitle    81530 non-null  object
 3   originalTitle   81530 non-null  object
 4   isAdult         81530 non-null  float64
 5   startYear       81530 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81530 non-null  object
 8   genres          81530 non-null  object
dtypes: float64(3), object(6)
memory usage: 6.2+ MB
None

In [32]:
# Load Ratings dataset
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False, na_values='\\N')

In [33]:
# Sanity check
print(ratings.head())
print(ratings.info())

      tconst  averageRating  numVotes
0  tt0000001            5.7      1988
1  tt0000002            5.8       265
2  tt0000003            6.5      1849
3  tt0000004            5.5       178
4  tt0000005            6.2      2632
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331492 entries, 0 to 1331491
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1331492 non-null  object
 1   averageRating  1331492 non-null  float64
 2   numVotes       1331492 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.5+ MB
None

In [34]:
# Save filtered datasets as compressed CSV files
basics.to_csv('Data/basics.csv.gz', compression='gzip', index=False)
us_movies_akas.to_csv('Data/akas.csv.gz', compression='gzip', index=False)
ratings.to_csv('Data/ratings.csv.gz', compression='gzip', index=False)

# API Connection, Financial Data & Exploratory Data Analysis

In [35]:
# Importing libraries

from tqdm import tqdm
import requests
import json
import pandas as pd

In [36]:
# Function to extract movie info from TMDB API
def get_movie_info(movie_id, api_key):
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={api_key}"
    response = requests.get(url)
    movie_data = response.json()
    return movie_data

In [37]:
# Function to extract movie info from TMDB API
def get_movie_info(movie_id, api_key):
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={api_key}"
    response = requests.get(url)
    movie_data = response.json()
    return movie_data

In [38]:
# API Key
api_key = "6ae1796c8924400f82273b37dedcdd66"

In [39]:
# Load the filtered basics dataset
basics = pd.read_csv('Data/basics.csv.gz', compression='gzip')

In [41]:
# Extract financial data for movies that meet the criteria in Part 1
filtered_movies = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2001)]

for year in [2000, 2001]:
    movies_year = filtered_movies[filtered_movies['startYear'] == year]
    movie_data_list = []

    for _, movie in tqdm(movies_year.iterrows(), total=movies_year.shape[0], desc=f"Year {year}"):
        movie_id = movie['tconst']
        movie_info = get_movie_info(movie_id, api_key)
        movie_data = {
            'movie_id': movie_id,
            'budget': movie_info.get('budget', 0),
            'revenue': movie_info.get('revenue', 0),
            'certification': movie_info.get('certification'),
        }
        movie_data_list.append(movie_data)

    df = pd.DataFrame(movie_data_list)
    csv_filename = f"financial_data_{year}.csv.gz"
    df.to_csv(csv_filename, compression='gzip', index=False)

Year 2000: 100%|███████████████████████████| 1454/1454 [04:00<00:00,  6.04it/s]
Year 2001: 100%|███████████████████████████| 1575/1575 [04:35<00:00,  5.71it/s]

In [43]:
# Print out the dataframe information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1575 entries, 0 to 1574
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       1575 non-null   object
 1   budget         1575 non-null   int64
 2   revenue        1575 non-null   int64
 3   certification  0 non-null      object
dtypes: int64(2), object(2)
memory usage: 49.3+ KB
None

In [44]:
# Load the financial data for each year
years = [2000, 2001]
dfs = []

for year in years:
    csv_filename = f"financial_data_{year}.csv.gz"
    df = pd.read_csv(csv_filename, compression='gzip')
    dfs.append(df)

In [45]:
# Concatenate the data into one dataframe
financial_data = pd.concat(dfs, ignore_index=True)

In [46]:
# Save the merged TMDB API data as a CSV file
financial_data.to_csv('tmdb_results_combined.csv.gz', compression='gzip', index=False)

# MySQL Database

In [98]:
# Import the necessary libraries
from sqlalchemy import create_engine, String, Text, Float, Integer, MetaData, inspect, Table
from sqlalchemy.sql import text
import os

In [99]:
# Load datasets
basics_df = pd.read_csv(r"C:\Users\aharo\OneDrive\Documents\GitHub\Movie-Success-Analysis\Data\basics.csv.gz", compression='gzip')
ratings_df = pd.read_csv(r"C:\Users\aharo\OneDrive\Documents\GitHub\Movie-Success-Analysis\Data\ratings.csv.gz", compression='gzip')
tmdb_data = pd.read_csv(r"C:\Users\aharo\OneDrive\Documents\GitHub\Movie-Success-Analysis\Data\tmdb_results_combined.csv.gz", compression='gzip')

In [100]:
# Perform required transformations on the basics data
basics_df['genres'] = basics_df['genres'].str.split(',')
basics_exploded = basics_df.explode('genres')
unique_genres = sorted([i for i in basics_exploded['genres'].unique() if i is not None])  # Exclude None from genres
genre_ints = range(1, len(unique_genres) + 1)  # Start genre_id from 1 instead of 0
genre_map = dict(zip(unique_genres, genre_ints))
basics_exploded['genre_id'] = basics_exploded['genres'].map(genre_map)
title_genres = basics_exploded[['tconst', 'genre_id']].copy()
genres = pd.DataFrame(list(genre_map.items()), columns=['genre_name', 'genre_id'])
basics_df = basics_df.drop(columns=['isAdult', 'titleType', 'endYear', 'genres', 'originalTitle'])  # Drop the original_title column

In [101]:
# Keep only the required columns from tmdb_data
tmdb_data = tmdb_data[['movie_id', 'revenue', 'budget', 'certification']].copy()

In [102]:
# Define datatypes for each field in the tables (for setting primary keys)
basics_dtype = {
    "tconst": String(basics_df["tconst"].astype(str).str.len().max() + 1),
    "primaryTitle": Text(basics_df["primaryTitle"].astype(str).str.len().max() + 1),
    "startYear": Integer(),
    "runtimeMinutes": Integer()
}
ratings_dtype = {
    "tconst": String(ratings_df["tconst"].astype(str).str.len().max() + 1),
    "averageRating": Float(),
    "numVotes": Integer()
}
tmdb_dtype = {
    "movie_id": String(tmdb_data["movie_id"].astype(str).str.len().max() + 1),
    "revenue": Float(),
    "budget": Float(),
    "certification": Text(tmdb_data["certification"].astype(str).str.len().max() + 1)
}

In [110]:
# Fetch database credentials from environment variables
db_user = os.getenv('root')
db_password = os.getenv('NnbmXY7K_urHTThq')

In [112]:
# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://root:NnbmXY7K_urHTThq@localhost:3306/')

In [113]:
# Drop the 'movies' database if it already exists
with engine.connect() as connection:
    connection.execute(text("DROP DATABASE IF EXISTS movies"))
    connection.execute(text("CREATE DATABASE movies"))
    connection.execute(text("USE movies"))

In [114]:
# Save tables to the database with the defined dtypes and without indices
basics_df.to_sql('title_basics', engine, dtype=basics_dtype, if_exists='replace', index=False)
ratings_df.to_sql('title_ratings', engine, dtype=ratings_dtype, if_exists='replace', index=False)
title_genres.to_sql('title_genres', engine, if_exists='replace', index=False)
genres.to_sql('genres', engine, if_exists='replace', index=False)
tmdb_data.to_sql('tmdb_data', engine, dtype=tmdb_dtype, if_exists='replace', index=False)

3029

In [115]:
# Set primary keys
with engine.connect() as connection:
    connection.execute(text("ALTER TABLE title_basics ADD PRIMARY KEY (tconst);"))
    connection.execute(text("ALTER TABLE title_ratings ADD PRIMARY KEY (tconst);"))
    connection.execute(text("ALTER TABLE tmdb_data ADD PRIMARY KEY (movie_id);"))
    connection.execute(text("ALTER TABLE genres ADD PRIMARY KEY (genre_id);"))

In [117]:
# Print the first 5 rows of each table
inspector = inspect(engine)
for table_name in inspector.get_table_names(schema='movies'):
    with engine.connect() as connection:
        result = connection.execute(text(f"SELECT * FROM {table_name} LIMIT 5"))
        print(f"First 5 rows from table: {table_name}")
        for row in result:
            print(row)

First 5 rows from table: genres
('Action', 1)
('Adult', 2)
('Adventure', 3)
('Animation', 4)
('Biography', 5)
First 5 rows from table: title_basics
('tt0035423', 'Kate & Leopold', 2001, 118)
('tt0062336', 'The Tango of the Widower and Its Distorting Mirror', 2020, 70)
('tt0069049', 'The Other Side of the Wind', 2018, 122)
('tt0088751', 'The Naked Monster', 2005, 100)
('tt0096056', 'Crime and Punishment', 2002, 126)
First 5 rows from table: title_genres
('tt0035423', 6)
('tt0035423', 10)
('tt0035423', 19)
('tt0062336', 8)
('tt0069049', 8)
First 5 rows from table: title_ratings
('tt0000001', 5.7, 1988)
('tt0000002', 5.8, 265)
('tt0000003', 6.5, 1849)
('tt0000004', 5.5, 178)
('tt0000005', 6.2, 2632)
First 5 rows from table: tmdb_data
('tt0035423', 76019000.0, 48000000.0, None)
('tt0113026', 0.0, 10000000.0, None)
('tt0113092', 0.0, 0.0, None)
('tt0114447', 0.0, 0.0, None)
('tt0115937', 0.0, 0.0, None)

In [118]:
# Run the "SHOW TABLES" SQL query at the end
with engine.connect() as connection:
    result = connection.execute(text("SHOW TABLES"))
    print("Tables in the 'movies' database:")
    for row in result:
        print(row[0])

Tables in the 'movies' database:
genres
title_basics
title_genres
title_ratings
tmdb_data